a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 5rem;
}

header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

header div{
    padding: 2rem;
    align-items: center;
}

.albums{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-direction: row;
}

li{
    list-style-type: none;
}