a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 5rem;
    font-family: cursive;
}

header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

header div{
    padding: 2rem;
    align-items: center;
}

.albums{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-direction: row;
}

li{
    list-style-type: none;
}

li .albums {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.photo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.photo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}



